apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "uptime-kuma.fullname" . }}
  labels:
    {{- include "uptime-kuma.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "uptime-kuma.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "uptime-kuma.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "uptime-kuma.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - mountPath: /app/data
              name: {{ template "uptime-kuma.name" . }}
        {{- if .Values.tailscale.enabled }}
        - name: tailscale
          image: "{{ .Values.tailscale.image }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.tailscale.authSecretName }}"
                  key: TS_AUTHKEY
            - name: TS_STATE_DIR
              value: "/var/lib/tailscale"
            - name: TS_SERVE_CONFIG
              value: "/config/serve.json"
            - name: TS_USERSPACE
              value: "true"
            - name: TS_HOSTNAME
              value: "{{ .Values.tailscale.hostname }}"
            - name: TS_EXTRA_ARGS
              value: "--advertise-tags={{ .Values.tailscale.tags }}"
          volumeMounts:
            - name: tailscale-state
              mountPath: /var/lib/tailscale
            - name: tailscale-config
              mountPath: /config
        {{- end }}
      volumes:
        - name: {{ template "uptime-kuma.name" . }}
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ template "uptime-kuma.fullname" . }}
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.tailscale.enabled }}
        - name: tailscale-state
          persistentVolumeClaim:
            claimName: tailscale-state
        - name: tailscale-config
          configMap:
            name: tailscale-serve-config
        {{- end -}}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
